.section-padding
{
	padding-top: 50px;
	padding-bottom: 50px;
}

.row-element
{
	padding-bottom: 20px;
}

.hr-title
{
	border-top: 5px solid #365ABD;
	width: 50px;
	padding-bottom: 30px;
}

.title
{
	font-family: "Barlow Condensed", sans-serif;
}