.marketing
{
	color: black;
	text-align: center;
	background-image: url("../img/manicure.jpg");
	background-color: black;
}

.marketing-title
{
	color: white;
}

.vant-logo-md span::before
{
    background: url("../img/logoSmall.png") no-repeat center center;
}

.logo-vantagens
{
	box-shadow: 0 0 0 0 rgba(100, 100, 100, 0.0);
	transition: 2s;
}

.logo-vantagens:hover
{
	-webkit-filter: drop-shadow(12px 12px 7px rgba(255, 255, 255, 0.25));
    filter: drop-shadow(12px 12px 7px rgba(255, 255, 255, 0.5));
	transform: scale(1.1);
	transition: 2s;
}

.card-text-market
{
	font-family: 'Josefin Sans', sans-serif;
}

.card-expand
{
	background-color: rgba(255,255,255, 0.75);
	transition: 2s;
}

.card-expand:hover
{
	transform: scale(1.1);
	transition: 2s;
}

.card-shadow-right
{
	transition: 2s;
}

.card-shadow-right:hover
{
	box-shadow: 20px 0px 7px 0px rgba(255, 255, 255, 0.25);
    transition: 2s;
}

.card-shadow-left
{
	transition: 2s;
}

.card-shadow-left:hover
{
	box-shadow: -20px 0px 7px 0px rgba(255, 255, 255, 0.25);
    transition: 2s;
}